dill                      0.2.4                    py27_0    defaults
docopt                    0.6.2                    py27_0    defaults
futures                   3.0.5                    py27_0    defaults
joblib                    0.9.4                    py27_0    defaults
networkx                  1.10                     py27_0    defaults
numpy                     1.11.0                   py27_1    defaults
pydot                     1.0.28                   py27_0    defaults
scikit-learn              0.18                np111py27_0    defaults
scipy                     0.17.0              np111py27_4    defaults
toolz                     0.8.0                    py27_0    defaults
